#image1 {
  height: 100px;
  background: url(../../assets/1.png);
}

#image2 {
  height: 100px;
  background: url(../../assets/2.png);
}

#image3 {
  height: 100px;
  background: url(../../assets/3.png);
}