<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>表单输入绑定</title>
</head>

<body>
  <div id="root"></div>
  <script type="text/x-template" id="ChildComponent2">
    <section>
      <label>
        <input type="checkbox" value="check1" @change="changeChecked"/>
        选择1
      </label>
      <label>
        <input type="checkbox" value="check2" @change="changeChecked" />
        选择2
      </label>
    </section>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

    /**
     * 注意 v-model 其实是一个 event 和一个 property 的语法糖
     * <input />
     *  type 为 text，使用的是 value property 和 input 事件
     *  type 为 radio，使用的是 checked property 和 change 事件
     *  type 为 checkbox，使用的是 checked property 和 change 事件
     * 
     * <select></select> value property 和 change 事件 注意原生的 select 没有 value 属性
     * 我可以通过修改 v-model 绑定的变量，控制选择，这个是怎么实现的？？？
     * 
     * <textarea /> 使用的是 value property 和 input 事件
    */
    const ChildComponent1 = {
      props: {
      },
      data: vm => ({
        text1: '',
        text2: '',
        vRadio: '',
        radio: '',
        vCheckbox1: false,
        vCheckbox2: [],
        vCheckbox3: [],
        vSelect1: [],
        select1: [],
        vSelect2: '',
      }),
      computed: {},
      watch: {},
      methods: {
        text2Input (event) {
          this.text2 = event.target.value;
        },

        radioChange (event) {
          this.radio = event.target.value;
        },

        selectChange (event) {
          this.select1 = [...event.target.selectedOptions].map(option => option.value);
        },
      },
      template:
        `
        <div>
          <div>ChildComponent1</div>
          <form>
            <!-- input[type="text"] -->
            <label for="text1">input[type="text"] v-model</label>
            <input id="text1" v-model="text1" type="text" />
            <div>input[tyep="text"]绑定的v-model值：{{text1}}</div>

            <label for="">input[type="text"] 自己实现v-model</label>
            <input id="text2" :value="text2" type="text" @input="text2Input"/>
            <div>自定义的v-model的值：{{text2}}</div>
            <br/>

            <!-- input[type="radio"] -->
            <label for="radio1">v-radio1</label>
            <input id="radio1" type="radio" v-model="vRadio" value="v-radio1" />
            <label for="radio2">v-radio2</label>
            <input id="radio2" type="radio" v-model="vRadio" value="v-radio2" />
            <!-- radio 如果不传 value 选中了就是 undefined -->
            <label for="radio3">v-radio3</label>
            <input id="radio3" type="radio" v-model="vRadio" />
            <div>input[type="radio"]绑定的v-model值：{{vRadio}}</div>
           
            <!-- 绑定的checked属性（value属性本身就用来表示当个radio对应的值）和change事件 -->
            <label for="radio1">自定义的v-model radio1</label>
            <input id="radio1" :checked="radio==='radio1'" value="radio1" type="radio" @change="radioChange"/>
            <label for="radio2">自定义的v-model radio1</label>
            <input id="radio2" :checked="radio==='radio2'" value="radio2" type="radio" @change="radioChange"/>
            <div>自定义的v-model的值：{{radio}}</div>
            <br />

            <!-- input[type="checkbox"] -->
            <!-- 具体是怎样的其实是根据 v-model 绑定的 Array 还是 Boolean -->
            <!-- 单个复选框 v-model是boolean值-->
            <label for="vCheckbox1">vCheckBox1_1</label>
            <input id="vCheckbox1" value="vCheckbox1" v-model="vCheckbox1" type="checkbox" />
            <div>input[type="checkbox"] v-model：{{vCheckbox1}}</div>
            
            <!--多个复选框 v-model是数组，其中的值是checked的项的value属性的值-->
            <label for="vCheckbox2_1">vCheckBox2_1</label>
            <input id="vCheckbox2_1" value="vCheckbox2_1" v-model="vCheckbox2" type="checkbox" />
            <label for="vCheckbox2_2">vCheckbox2_2</label>
            <input id="vCheckbox2_2" value="vCheckbox2_2" v-model="vCheckbox2" type="checkbox" />
            <label for="vCheckbox2_3">vCheckbox2_3</label>
            <input id="vCheckbox2_3" value="vCheckbox2_3" v-model="vCheckbox2" type="checkbox" />
            <label for="vCheckbox2_4">vCheckbox2_4</label>
            <input id="vCheckbox2_4" value="vCheckbox2_4" v-model="vCheckbox2" type="checkbox" />
            <div>input[type="checkbox"] v-model：{{vCheckbox2}}</div>

            <!-- 单个复选框 但是传的 v-model 的 初始值是一个 [] 的时候-->
            <label for="vCheckbox3">vCheckBox3_1</label>
            <input id="vCheckbox3" value="vCheckbox3" v-model="vCheckbox3" type="checkbox" />
            <div>input[type="checkbox"] v-model：{{vCheckbox3}}</div>

            <br />


            <!-- select[multiple=true]-->
            <label for="vSelect1"  >select[multiple=true] v-model</label>
            <select id="vSelect1" key="vSelect1" v-model="vSelect1" multiple >
              <option value="option11">option1</option>
              <option value="option22">option2</option>
              <option value="option33">option3</option>
            </select>
            <div>v-model的值：{{vSelect1}}</div>
            
            <label for="select1" >自定义的select[multiple=true] v-model</label>
            <select id="select1" :value="select1" multiple @change="selectChange" >
              <option value="option1" key="1">option1</option>
              <option value="option2" key="2">option2</option>
              <option value="option3" key="13">option3</option>
            </select>
            <div>自定义的v-model的值：{{select1}}</div>

          </form>
        </div>
        `
      ,
    };


    const ChildComponent2 = {
      inheritAttrs: false, // 该组件的根元素不继承使用该组件时传递的属性（除去 class 和 sytle），配合 $attrs（在使用该组件时，除去 props class style 外传入的 属性） 使用
      // this.$listeners 也常常配合一起使用，是一个内容，包含了在使用该组件的时候传递的所有事件监听器
      model: {
        prop: 'value',
        event: 'update:value',
      },
      props: {
        value: {
          default: () => [],
          required: true,
          type: Array,
        },
      },
      data () {
        return {
          checked: this.value,
        }
      },
      methods: {
        changeChecked (e) {
          const target = e.target;
          if (e.target.checked && !this.checked.includes(target.value)) {
            this.checked.push(e.target.value);
          }
          if (!e.target.checked && this.checked.includes(target.value)) {
            this.checked = this.checked.filter(item => item !== target.value);
          }
          this.$emit('update:value', this.checked)
        },
      },
      template: '#ChildComponent2'

    };
    new Vue({
      el: '#root',
      components: {
        ChildComponent1,
        ChildComponent2
      },
      data: vm => ({
        checked: [],
        checked1: [],
        checked2: [],
      }),
      watch: {
        checked: {
          handler (newVal) {
            console.log(newVal);
          },
        },
        checked1: {
          handler (newVal) {
            console.log(newVal);
          },
        }
      },
      template:
        `
        <div>
          <ChildComponent1 />
          <hr />
          <ChildComponent2 v-model="checked" />
          <!-- 注意这两种写法是等价的，使用的 value 属性 和 update:value 事件 是因为 组件内部的 model 设置的-->
          <ChildComponent2 :value="checked1" @update:value="checked1 = $event"/>
          <!-- :value.sync 相当于自动加上了 @update:value="checked2 = $event"-->
          <ChildComponent2 :value.sync="checked2"/>
        </div>
        `
      // 原生事件中 $event 是事件对象，但是在自定义事件中 $event 是 $emit 中的第二个参数
      ,
    });
  </script>
</body>

</html>