<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue公共组件</title>
  <link rel="stylesheet" type="text/css" href="./overShow.css" />
</head>

<body>
  <div id="root"></div>

  <script type="text/x-template" id="testComponent">
    <div>
      验证OverShow组件
      <OverShow>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</OverShow>
    </div>
  </script>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script type="module">
    import OverShow from "./overShow.js";
    new Vue({
      el: '#root',
      data: vm => ({}),
      components: {
        OverShow,
      },
      template: '#testComponent'
    });
  </script>
</body>

</html>