<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>模板引用</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app1"></div>
  <hr />
  <div id="app2"></div>
  <hr />
  <div id="app3"></div>

  <script>
    const { createApp, ref, reactive, useTemplateRef, nextTick } = Vue;

    /**
     * 在某些情况下，仍然需要对 DOM 进行访问，可以使用 ref attribute
     * 注意是在挂载之后才能访问到具体的值
     */
    createApp({
      setup () {
        const inputRef = useTemplateRef('input-ref'); // 3.5.0 版本之后，可以使用 useTemplateRef
        nextTick(() => {
          console.log(inputRef.value); // <input>
          inputRef.value.focus();
        });

        const inputRef1 = ref(null); // 3.5.0 版本之前，可以使用 ref
        nextTick(() => {
          console.log(inputRef1.value); // <input>
          inputRef1.value.focus();
        });

        return {
          // inputRef,
          inputRef1, // 确保这里 return 出去，否则模板中无法访问
        }
      },

      template: `
        <label>
          <input ref="input-ref"/>
        </label>
        <br />
        <label>
          <input ref="inputRef1"/>
        </label>
      `,
    }).mount('#app1');

    /**
     * ref attribute 结合 v-for使用
     * 注意 得到的 ref 数组不一定和原数组是相同的顺序
     */
    createApp({
      setup () {
        const inputRef = useTemplateRef('input-ref');
        nextTick(() => {
          console.log(inputRef.value); // Proxy(Array) {0: input, 1: input, 2: input}
        });

        const inputRef1 = ref(null);
        nextTick(() => {
          console.log(inputRef1.value); // Proxy(Array) {0: input, 1: input, 2: input}
        });
        return {
          inputRef1,
        }
      },
      template: `
        <input v-for="item in 3" :key="item"  ref="input-ref"/>
        <br />
        <input v-for="item in 3" :key="item"  ref="inputRef1"/>
      `,
    }).mount('#app2');

    /**
     * 函数模板引用
     */
    createApp({
      setup () {
        return {};
      },
      template: `
      `,
    }).mount('#app3');

    /**
     * 组件模板引用
     */


  </script>
</body>

</html>