@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1735692178006') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianping:before {
  content: "\e653";
}

.icon-yonghuliebiao:before {
  content: "\e604";
}

.icon-faxianshebei:before {
  content: "\e60b";
}

